<div class="product-category-list-blk">
    <ul class="product-category-list">
        <li class="item">
            <a href="/Product/Category/5/%E5%B1%85%E5%AE%B6%E5%A5%BD%E7%89%A9" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=713&amp;prefix=480x360_" alt="居家好物" src="/Utility/DisplayImage?id=713&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">居家好物</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/26/%E8%A3%9D%E7%BD%AE%E8%97%9D%E8%A1%93" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=738&amp;prefix=480x360_" alt="裝置藝術" src="/Utility/DisplayImage?id=738&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">裝置藝術</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/154/%E7%89%B9%E8%B3%A3%E6%B4%BB%E5%8B%95" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=5403&amp;prefix=480x360_" alt="特賣活動" src="/Utility/DisplayImage?id=5403&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">特賣活動</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/36/%E5%90%84%E5%BC%8F%E5%8C%85%E5%8C%85/%E7%9A%AE%E5%A4%BE" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=718&amp;prefix=480x360_" alt="各式包包/皮夾" src="/Utility/DisplayImage?id=718&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">各式包包/皮夾</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/8/%E5%80%8B%E6%80%A7%E9%A3%BE%E5%93%81" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=739&amp;prefix=480x360_" alt="個性飾品" src="/Utility/DisplayImage?id=739&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">個性飾品</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/11/%E5%84%AA%E8%89%AF%E9%A3%9F%E6%9D%90" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=740&amp;prefix=480x360_" alt="優良食材" src="/Utility/DisplayImage?id=740&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">優良食材</strong>
                </div>
            </a>
        </li>
    </ul>

</div>

<div class="product-tile-list-blk">
    <h2 class="title">本月人氣排行榜</h2>
    <ul class="product-tile-list top-buy-list list-show-1-3-3">
        <li class="item" data-rank="1">
            <a href="/Product/Detail/991/%E9%BB%91%E8%B1%86%E8%8C%B6" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=5242&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="/Utility/DisplayImage?id=5242&amp;prefix=385x385_" style="height: 175.5px; display: block;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=5242&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">黑豆茶</h3>
                <h4 class="unit">瑪布隆農場</h4>
                <h5 class="price">NTD 180</h5>
            </a>

        </li>
        <li class="item" data-rank="2">
            <a href="/Product/Detail/35/%E5%A5%94%E8%B7%91%E5%B1%B1%E8%B1%AC-%E7%9A%AE%E9%9B%95%E9%89%9B%E7%AD%86%E7%9B%92-" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=67&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="/Utility/DisplayImage?id=67&amp;prefix=385x385_" style="height: 175.5px; display: block;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=67&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">奔跑山豬（皮雕鉛筆盒）</h3>
                <h4 class="unit">
                    百合工作室
                </h4>
                <h5 class="price">NTD 1580</h5>
            </a>

        </li>
        <li class="item" data-rank="3">
            <a href="/Product/Detail/131/%E5%85%AD%E5%A4%A7%E6%97%8F%E7%B3%BB%E5%88%97%E6%B9%AF%E7%AD%B7%E7%B5%84-%E9%98%BF%E7%BE%8E%E6%97%8F" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=553&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="/Utility/DisplayImage?id=553&amp;prefix=385x385_" style="height: 175.5px; display: block;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=553&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">六大族系列湯筷組-阿美族</h3>
                <h4 class="unit">嘎娃文化藝術工作室</h4>
                <h5 class="price">NTD 200</h5>
            </a>

        </li>
        <li class="item" data-rank="4">
            <a href="/Product/Detail/418/%E5%B1%B1%E8%B1%AC%E7%89%99%E9%A0%85%E9%8D%8A-%E5%A4%A7-" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=2170&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 75px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=2170&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">山豬牙項鍊(大)</h3>
                <h4 class="unit">
                    高路工作室
                </h4>
                <h5 class="price">NTD 2880</h5>
            </a>

        </li>
    </ul>
    <div class="h-center">
        <a href="/Product/All" class="btn-more">更多人氣商品</a>
    </div>
</div>


<div class="product-tile-list-blk free">
    <h2 class="title">最新上架</h2>
    <ul class="product-tile-list list-show-1-3-3">
        <li class="item">
            <a href="/Product/Detail/1059/%E8%B1%90%E7%A6%BE%E8%8C%B6%E6%A8%B9%E7%B2%BE%E6%B2%B9%E5%B0%8F%E7%93%B6" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=5691&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 175.5px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=5691&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">豐禾茶樹精油小瓶</h3>
                <h4 class="unit">花蓮豐禾有機農場</h4>
                <h5 class="price">$200</h5>
            </a>

        </li>
        <li class="item">
            <a href="/Product/Detail/1102/%E8%81%96%E8%AA%95%E5%84%AA%E6%83%A0-%E5%8E%9F%E5%A4%A2%E9%9B%B6%E9%8C%A2%E5%8C%85-%E5%A4%AA%E9%AD%AF%E9%96%A3%E6%97%8F-" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=5912&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 175.5px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=5912&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">聖誕優惠~原夢零錢包(太魯閣族)</h3>
                <h4 class="unit">嘎娃文化藝術工作室</h4>
                <h5 class="price">$135</h5>
            </a>

        </li>
        <li class="item">
            <a href="/Product/Detail/1090/%E9%83%A8%E8%90%BD%E6%89%8B%E7%B9%94-%E5%9C%8D%E5%B7%BE" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=5851&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 175.5px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=5851&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">部落手織‧圍巾</h3>
                <h4 class="unit">多加巧藝工坊</h4>
                <h5 class="price">$2580</h5>
            </a>

        </li>
        <li class="item">
            <a href="/Product/Detail/1100/%E8%81%96%E8%AA%95%E5%84%AA%E6%83%A0-%E5%8E%9F%E5%A4%A2%E9%9B%B6%E9%8C%A2%E5%8C%85-%E6%92%92%E5%A5%87%E8%90%8A%E9%9B%85%E6%97%8F-" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=5907&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 75px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=5907&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">聖誕優惠~原夢零錢包(撒奇萊雅族)</h3>
                <h4 class="unit">嘎娃文化藝術工作室</h4>
                <h5 class="price">$135</h5>
            </a>

        </li>
    </ul>
    <div class="h-center">
        <a href="/Product/All" class="btn-more">更多人氣商品</a>
    </div>
</div>

<div class="product-tile-list-blk recommend">
    <h2 class="title">熱門商品推薦</h2>
    <ul class="product-tile-list list-show-1-3-3">
        <li class="item">
            <a href="/Product/Detail/355/%E9%91%B0%E5%8C%99%E5%AE%88%E8%AD%B7-%E5%A4%A7" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=1819&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 165.75px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=1819&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">鑰匙守護-大</h3>
                <h4 class="unit">樹屋餐廳</h4>
                <h5 class="price">$150</h5>
            </a>

        </li>
        <li class="item">
            <a href="/Product/Detail/768/%E5%8F%B0%E7%81%A3%E7%8E%89%E5%A2%9C%E9%A0%85%E9%8D%8A1" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=3952&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 165.75px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=3952&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">台灣玉墜項鍊1</h3>
                <h4 class="unit">阿芳的店</h4>
                <h5 class="price">$2800</h5>
            </a>

        </li>
        <li class="item">
            <a href="/Product/Detail/396/%E7%A5%96%E9%9D%88-%E5%96%AE%E8%82%A9%E5%8C%85-" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=2051&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 165.75px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=2051&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">祖靈(單肩包)</h3>
                <h4 class="unit">黎芯吉耀工作坊</h4>
                <h5 class="price">$1500</h5>
            </a>

        </li>
        <li class="item">
            <a href="/Product/Detail/959/%E5%B0%8D%E6%AF%94%E4%B8%B2%E7%8F%A0%E6%89%8B%E9%8D%8A" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=4993&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="height: 75px;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=4993&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">對比串珠手鍊</h3>
                <h4 class="unit">美瑜工作室</h4>
                <h5 class="price">$300</h5>
            </a>

        </li>
    </ul>
    <div class="h-center">
        <a href="/Product/All" class="btn-more">更多人氣商品</a>
    </div>
</div>
