<div class="product-category-list-blk">
    <ul class="product-category-list">
        <li class="item">
            <a href="/Product/Category/56/%E5%8E%9F%E6%B0%91%E6%97%8F%E7%BE%A4" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=760&amp;prefix=480x360_" alt="原民族群" src="/Utility/DisplayImage?id=760&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">原民族群</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/26/%E8%A3%9D%E7%BD%AE%E8%97%9D%E8%A1%93" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=738&amp;prefix=480x360_" alt="裝置藝術" src="/Utility/DisplayImage?id=738&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">裝置藝術</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/154/%E7%89%B9%E8%B3%A3%E6%B4%BB%E5%8B%95" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=5403&amp;prefix=480x360_" alt="特賣活動" src="/Utility/DisplayImage?id=5403&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">特賣活動</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/8/%E5%80%8B%E6%80%A7%E9%A3%BE%E5%93%81" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=739&amp;prefix=480x360_" alt="個性飾品" src="/Utility/DisplayImage?id=739&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">個性飾品</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/47/%E5%8E%9F%E6%B0%91%E5%B7%A5%E5%9D%8A" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=749&amp;prefix=480x360_" alt="原民工坊" src="/Utility/DisplayImage?id=749&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">原民工坊</strong>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="/Product/Category/36/%E5%90%84%E5%BC%8F%E5%8C%85%E5%8C%85/%E7%9A%AE%E5%A4%BE" class="link">
                <img class="thumb lazy js-ratio-4-3" data-original="/Utility/DisplayImage?id=718&amp;prefix=480x360_" alt="各式包包/皮夾" src="/Utility/DisplayImage?id=718&amp;prefix=480x360_" style="height: 175.5px; display: block;">
                <div class="vam-blk">
                    <strong class="title">各式包包/皮夾</strong>
                </div>
            </a>
        </li>
    </ul>

</div>