<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://inmall.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>inmall.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Inmall</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Inmall</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User ID=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" Name="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp.Models.ApplicationDbContext, Inmall.WebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InmallContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User ID=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" Name="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DAL.InmallContext, Inmall.DAL" MigrationConfiguration="DAL.Migrations.Configuration, Inmall.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OnlineInmallContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User ID=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" Name="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User ID=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OnlineInmallContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InmallContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineInmallContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:inmall.database.windows.net,1433;Initial Catalog=Inmall;User Id=opmart2008@yahoo.com.tw@inmall.database.windows.net;Password=traders2016@Inmall</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>