<h2><strong>{{TitleText}}</strong></h2>
<div style="padding:20px;background-color:aliceblue">
    <h4><span style="color:#0026ff"> {{UserName}}</span> ，您好！</h4>
    <h4>
        我們已為您啟動密碼重設程序，請前往下列連結重新設定您的密碼：
    </h4>
    <h4><a href="{{ValidateUrl}}" target="_blank">{{ValidateUrl}}</a> </h4>
    <p style="color:#ff6a00">如果上述連結無法使用，請複製該網址並貼到新的瀏覽器視窗中。</p>
    <p></p>
    <p>
        如果您覺得此郵件是我們誤寄，那麼可能有其他使用者在重設密碼時不小心輸入了您的
        電子郵件地址。
    </p>
    <p>如果您並沒有發出這項要求，請不用理會這封電子郵件，也不必採取其他行動。 </p>
</div>
