<div class="footer-container">
    <div class="desktop-wrapper">
        <div class="site-name-blk">
            <a href="/" >
                <img src="~/Content/images/global/footTitle.jpg" />
            </a>
        </div>
        <div class="fast-link-list-blk">
            <ul class="fast-link-list">
                <li class="item">
                    <a href="javascript:void(0)" class="link" id="btn-event-report">
                        聯絡我們
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.inmall.com.tw/Support/ShoppingStep" class="link">
                        購物流程
                    </a>
                </li>
                @*<li class="item">
                    <a href="http://www.2hl.com.tw/" class="link" target="_blank">
                        原來花蓮這樣玩
                    </a>
                </li>*@
                @*<li class="item">
                    <a href="http://www.inmall.com.tw/Support/Transport" class="link">
                        配送與運費
                    </a>
                </li>*@
                <li class="item">
                    <a href="http://www.inmall.com.tw/Support/Payment" class="link">
                        付款方式
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.inmall.com.tw/Support/Return" class="link">
                        退換貨服務
                    </a>
                </li>
            </ul>
        </div>
        <div class="contact-info-blk">
            <p class="info show-at-desktop">
                客服聯繫資訊：
            </p>
            <p class="info">
                地址：花蓮縣花蓮市延平街90-1號
            </p>
            <p class="info">
                電話：<a href="tel:03-8334774" class="link">03-8334774</a>
            </p>
            <p class="info show-at-desktop">
                傳真：03-8334641
            </p>
        </div>
        <div class="visitor-info-blk show-at-desktop">
            <p class="info">
                更新日期：2016/11/16
            </p>
            <p class="info">
                總訪客數：520173
            </p>
            <p class="info">
                今日瀏覽：1646
            </p>
        </div>
    </div>


    <div class="copyright-info-blk">
        <p class="info">
            花蓮縣政府原住民行政處
        </p>
        <p class="info show-at-desktop">
            Copyright © 2016 All Rights Reserved
        </p>
    </div>

</div>
