<div class="product-tile-list-blk recommend">
    <h2 class="title">相關商品推薦</h2>
    <ul class="product-tile-list list-show-1-3-3">
        <li class="item">
            <a href="http://www.inmall.com.tw/Product/Detail/652/%E7%B7%A8%E7%8F%A0%E9%91%B0%E5%8C%99%E5%9C%88-%E9%A2%A8%E8%BB%8A%E7%B4%8B-2%E6%AC%BE" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=3355&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage(8)" style="height: 165.75px; display: block;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=3355&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">編珠鑰匙圈-風車紋 2款</h3>
                <h4 class="unit">繡藝工作坊</h4>
                <h5 class="price">$290</h5>
            </a>

        </li>
        <li class="item">
            <a href="http://www.inmall.com.tw/Product/Detail/636/%E4%B8%B2%E7%8F%A0%E6%AA%9C%E6%9C%A8%E9%AB%AE%E7%B0%AA" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=3278&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage(9)" style="height: 165.75px; display: block;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=3278&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">串珠檜木髮簪</h3>
                <h4 class="unit">繡藝工作坊</h4>
                <h5 class="price">$300</h5>
            </a>

        </li>
        <li class="item">
            <a href="http://www.inmall.com.tw/Product/Detail/701/%E9%98%BF%E7%BE%8E%E6%97%8F%E9%80%B2%E5%8F%A3%E7%8B%BC%E7%89%99%E9%81%BF%E9%82%AA%E5%90%8A%E9%A3%BE-4%E6%AC%BE" class="link">
                <span class="frame">
                    <img data-original="/Utility/DisplayImage?id=3624&amp;prefix=385x385_" alt="" class="thumb lazy js-ratio-4-3" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage(10)" style="height: 165.75px; display: block;">
                    <noscript>
                        &lt;img src="/Utility/DisplayImage?id=3624&amp;amp;prefix=385x385_" alt="" class="thumb"&gt;
                    </noscript>
                </span>
                <h3 class="name">阿美族進口狼牙避邪吊飾  4款</h3>
                <h4 class="unit">繡藝工作坊</h4>
                <h5 class="price">$390</h5>
            </a>

        </li>
    </ul>
</div>
