
<div class="layout-right-blk">
    <div class="product-intro-section">
        <div class="breadcrumb">
            <a href="http://www.inmall.com.tw/" class="unit icon-home" title="首頁">首頁</a>
            <a href="http://www.inmall.com.tw/Product/CategorySubMenu?cid=8" class="unit icon-home" title="個性飾品">個性飾品</a>
            <a href="http://www.inmall.com.tw/Product/Category/16/%E7%8E%87%E6%80%A7%E9%85%8D%E4%BB%B6" class="unit icon-home" title="率性配件">率性配件</a>

        </div>
        <div class="product-detail-info-blk">
            <div class="adj">
                <h2 class="product-name">原民特色頸鍊</h2>
                <h3 class="product-provider">美瑜工作室</h3>
            </div>
            <div class="flexslider product-slider" id="product-slider">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(-335px, 0px, 0px);">
                        <li class="clone" aria-hidden="true" style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5068" data-size="960x1443" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5068&amp;prefix=385x385_" alt="" draggable="false" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage">
                            </a>
                        </li>
                        <li class="flex-active-slide" style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5069" data-size="1920x1278" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5069&amp;prefix=385x385_" alt="" draggable="false" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage(1)">
                            </a>
                        </li>
                        <li style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5070" data-size="960x1443" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5070&amp;prefix=385x385_" alt="" draggable="false" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage(2)">
                            </a>
                        </li>
                        <li style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5071" data-size="1920x1278" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5071&amp;prefix=385x385_" alt="" draggable="false">
                            </a>
                        </li>
                        <li style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5072" data-size="1920x1278" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5072&amp;prefix=385x385_" alt="" draggable="false">
                            </a>
                        </li>
                        <li style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5068" data-size="960x1443" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5068&amp;prefix=385x385_" alt="" draggable="false" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage">
                            </a>
                        </li>
                        <li class="clone" aria-hidden="true" style="width: 335px; float: left; display: block;">
                            <a class="link js-photoswipe-item" href="http://www.inmall.com.tw/Utility/DisplayImage?id=5069" data-size="1920x1278" target="_blank" title="">
                                <img class="product-photo" data-original="/Utility/DisplayImage?id=5069&amp;prefix=385x385_" alt="" draggable="false" src="./原住民商城-原民特色頸鍊 -花蓮原鄉e市集_files/DisplayImage(1)">
                            </a>
                        </li>
                    </ul>
                </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="http://www.inmall.com.tw/Product/Detail/973/%E5%8E%9F%E6%B0%91%E7%89%B9%E8%89%B2%E9%A0%B8%E9%8D%8A#">Previous</a></li><li><a class="flex-next" href="http://www.inmall.com.tw/Product/Detail/973/%E5%8E%9F%E6%B0%91%E7%89%B9%E8%89%B2%E9%A0%B8%E9%8D%8A#">Next</a></li></ul>
            </div>
            <div class="product-price-bouns-blk">
                <h3 class="price-blk">NTD <em class="price">1280</em></h3>
            </div>
            <div class="product-desc">
                ★在飾品中導入原民美學概念<br>★串編頸鍊、原民特色工藝品。<br>★立體串珠、創意設計。<br>★編織串珠、亮眼造型。
            </div>
            <div class="fast-buy-blk flex-container">
                <div class="flex-item-third">
                    <label class="label">數量</label>
                    <span class="fast-buy-select-wrapper">
                        <select class="fast-buy-select" id="fast-buy-num-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </span>
                </div>
                <div class="flex-item-third">
                    <button class="btn-next js-btn-buy-next-time" data-product-id="973" data-product-spec="1106">下次再買</button>
                </div>
                <div class="flex-item-third">
                    <button class="btn-fast-buy js-add-cart" data-product-id="973" data-product-spec="1106">放入購物車</button>
                </div>
            </div>
            <div class="social-share-blk">
                <ul class="social-share-list">
                    <li class="item">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fwww.inmall.com.tw%2fProduct%2fDetail%2f973%2f%25E5%258E%259F%25E6%25B0%2591%25E7%2589%25B9%25E8%2589%25B2%25E9%25A0%25B8%25E9%258D%258A" class="btn-share-fb" target="_blank">分享到facebook</a>
                    </li>
                    <li class="item">
                        <a href="https://plus.google.com/share?url=http%3a%2f%2fwww.inmall.com.tw%2fProduct%2fDetail%2f973%2f%25E5%258E%259F%25E6%25B0%2591%25E7%2589%25B9%25E8%2589%25B2%25E9%25A0%25B8%25E9%258D%258A" class="btn-share-google" target="_blank">分享到google+</a>
                    </li>
                    <li class="item hide-at-desktop">
                        <a href="http://line.naver.jp/R/msg/text/?%E5%8E%9F%E6%B0%91%E7%89%B9%E8%89%B2%E9%A0%B8%E9%8D%8A%20http%3a%2f%2fwww.inmall.com.tw%2fProduct%2fDetail%2f973%2f%25E5%258E%259F%25E6%25B0%2591%25E7%2589%25B9%25E8%2589%25B2%25E9%25A0%25B8%25E9%258D%258A" class="btn-share-line" target="_blank">分享到line</a>
                    </li>
                    <li class="item">
                        <a href="http://twitter.com/home/?status=%E5%8E%9F%E6%B0%91%E7%89%B9%E8%89%B2%E9%A0%B8%E9%8D%8A%20http%3a%2f%2fwww.inmall.com.tw%2fProduct%2fDetail%2f973%2f%25E5%258E%259F%25E6%25B0%2591%25E7%2589%25B9%25E8%2589%25B2%25E9%25A0%25B8%25E9%258D%258A" class="btn-share-twitter" target="_blank">分享到twitter</a>
                    </li>
                </ul>
            </div>
            <div class="product-rating-wrapper">
                <div class="product-rating-blk">
                    <p class="rating" id="rating-blk" data-rated="0">
                        <span class="heart">★</span>
                        <span class="heart">★</span>
                        <span class="heart">★</span>
                        <span class="heart">★</span>
                        <span class="heart">★</span>

                        <button class="btn-close" id="btn-rating-close">關閉</button>
                    </p>
                    <button class="btn-recaptcha" id="btn-do-rate" data-product-id="973">進行評等</button>
                </div>
            </div>
        </div>
    </div>
</div>
