
<span style="font-family:arial,helvetica,sans-serif;">
    ★手工編織，充滿質樸的手工感。<br>
    ★透氣舒適，冬暖夏涼。<br>
    ★自然編織成型的帽子，折疊好收納。<br>
    <br>
    <span style="color:#000000;"><span style="font-size:18px;">【商品介紹】</span></span>

    <br>
    自然的原色搭配，由新社香蕉絲工坊工藝師們手工編織而成，呈現自然質樸的手工編織技巧，顏色非常好搭配！<br>
    細密的香蕉絲，耐髒不易磨損，常常觸摸香蕉絲會讓色澤越來越光亮。觸感柔軟不扎皮膚，冬暖夏涼，貼心的香蕉絲，陪你/妳一起生活。<br>
    （因為為手工製作，每個尺寸可能會些微不同）<br>

</span>

<span style="font-family: arial,helvetica,sans-serif;">
    <span style="font-size: 15px;">
        ★親手打樣設計獨特包款。<br>
        ★兩側大口袋設計，方便收納水壺、雨傘。<br>
        ★環保又不單調、攜帶方便。<br>
        ★鋪棉設計，保護物品。<br>
        <br>
        <span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0cm; border: 1pt windowtext; border-image: none;">【原氣後背包】</span></span></span><br>
        &nbsp; &nbsp; &nbsp; &nbsp;使用獨有花蓮生產製造傳統花紋花布製成，棉布柔軟材質，保護包內物品。大容量設計前口袋，方便多種小東西收納，手工縫製一體成形背帶，可負重<span lang="EN-US">5kg~8kg</span>，加大加寬可攜帶更多物品夾。<br>
        <span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp;原住民傳統與現代風格兼具，傳統圖騰變成幾何花紋，親授設計樣板，獨一無二。揹著後背包尋找生命中的歡樂吧</span>
    </span>
</span>

