@model WebApp.Models.ForgotPasswordInstruction

<div class="product-intro-section">
    <div class="checkout-form-blk">


        <h3 class="title">@Model.NickName 您好，系統已發送驗證信到您的電子信箱 @Model.Email</h3>
        <h4><em class="shine">驗證碼於24小時內有效</em>，驗證成功即可重新設定您的密碼。</h4>


    </div>


</div>
