<div class="product-intro-section">
    <h2 class="page-title">會員服務條款</h2>
    <div class="shopping-cart-blk member-apply-blk">
        <div class="checkout-form-blk">
            <p class="checkout-final-desc thin">
                歡迎您加入成為<em class="shine">花蓮原鄉e市集（以下簡稱為本商城）</em>會員，所有申請使用會員服務之使用者 ( 以下稱會員 ) ，都應該詳細閱讀下列使用條款，這些使用條款訂立的目的，是為了保護會員服務的提供者以及所有使用者的利益，並構成使用者與會員服務提供者之間的契約，使用者完成註冊手續、或開始使用本商城所提供之會員服務時，即視為已知悉、並完全同意本使用條款的所有約定：
            </p>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">加入會員：</h3>
            <div class="checkout-final-desc thin">
                <ul class="support-desc-list">
                    <li class="item">註冊時，請提供完整正確的個人基本資料，事後如有變更時，請隨時於線上更新，在加入會員後本網會寄出「確認信函」與會員確認其本資料及 e-mail 帳號，以確認會員日後可正常使用會員服務功能。</li>
                    <li class="item">登入為會員，即表示您同意本商城之會員規範，及同意本商城依據您登錄之地址、 e-mail 等資料與您聯繫。</li>
                </ul>
            </div>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">會員服務：</h3>
            <div class="checkout-final-desc thin">
                <ul class="support-desc-list">
                    <li class="item">會員服務之期間，係指使用者填妥申請表格並完成註冊程序後，本商城於完成相關系統設定、使會員服務達於可供使用之日。</li>
                    <li class="item">因會員服務所提供之所有相關網域名稱、網路位址、功能以及其他一切因會員身份得享有之權益，均仍屬本商城或其他合法權利人所有，會員除僅得於服務期間內依本使用條款之約定為使用外，均不得以任何方式將其轉讓、移轉、出租或出借予其他任何第三人。</li>
                    <li class="item">服務僅依當時所提供之功能及狀態提供服務；本商城並保留新增、修改或取消會員服務內相關系統或功能之全部或一部之權利。</li>
                </ul>
            </div>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">帳號、密碼與安全性：</h3>
            <div class="checkout-final-desc thin">
                <ul class="support-desc-list">
                    <li> 會員如提供不實之個人資料或偽冒使用他人帳號等涉及不法行為者，由會員自負法律責任，若因此損及本商城及相關人權益，應自負完全損害賠償責任，本商城得即時終止會員資格及停止各項服務。</li>
                    <li>本商城會員權益等規範如有修訂，將隨時將修正內容於網站公告，不對個別會員另行通知，會員如繼續使用本商城服務即視同接受各項規範。</li>
                    <li>本商城上的交易行為，均受消費者保護法所規範，如隱私權的保護、交易安全、消費關係及消費爭議的處理，本商城一本以客為尊的精神為您服務。</li>
                    <li>本商城上所有商品，若有任何問題或瑕疵，可無條件換貨或退貨，消費者只需支付運送費用（您需負擔寄回退貨商品之運費），無須支付任何商品費用。</li>
                    <li>訂單款項未收到前，您可上網留言或來信取消您的訂單。</li>
                    <li>網路購物中的消費者問題遠較其他交易方式來的複雜，避免網路交易時系統傳輸作業所導致的交易錯誤，本網在必要時得以在交易過程中與會員協調細節（如訂單內容、交貨期等等）。</li>
                    <li>會員資料於傳輸過程中，均受到保護，會員資料庫皆由系統管理，保證資料不外洩。</li>
                    <li>本商城承諾會確保您個人資料的安全，您所提供的各項基本資料，非得到您的同意，絕不會將您的個人資料揭露於第三人或用於上述目的以外之其他用途，以確保您的權益。</li>
                    <li>關於本商城的消費爭議，申訴管道依消費者保護法規範施行。</li>
                </ul>
            </div>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">消費者與法令爭議之解決：</h3>
            <div class="checkout-final-desc thin">
                <ul class="support-desc-list">
                    <li>會員因購買商品發生消費爭議時，商城應出面處理、解決之，不得拖延、拒絕。</li>
                    <li>商城應依民法、消費者保護法、公平交易法及其他相關法令之規定保障消費者權益，如有違反，商城應負責處理解決一切衍生之事宜，並承擔一切責任及損失。</li>
                </ul>
            </div>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">服務暫停或中斷：</h3>
            <div class="checkout-final-desc thin">
                <ul class="support-desc-list">
                    <li>
                        在下列情形，本商城將暫停或中斷本服務之全部或部分，且對使用者任何直接或間接之損害，均不負任何責任：<br>
                        <ul class="support-desc-list">
                            <li>對本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時</li>
                            <li>使用者有任何違反政府法令或本使用條款情形</li>
                            <li>天災或其他不可抗力所致之服務停止或中斷</li>
                            <li>其他不可歸責於本商城之事由所致之服務停止或中斷。</li>
                        </ul>
                    </li>
                    <li>會員服務系統或功能『例行性』之維護、改置或變動所發生之服務暫停或中斷，本商城將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知會員。</li>
                </ul>
            </div>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">修改本使用條款的權利：</h3>
            <p class="checkout-final-desc thin">
                本商城保留隨時修改本會員服務使用規則的權利，修改後的本商城會員服務使用條款將公佈在本商城網站上，不另外個別通知使用者。
            </p>
        </div>
        <div class="checkout-form-blk">
            <h3 class="title shine">準據法及管轄權：</h3>
            <div class="checkout-final-desc thin">
                <ul class="support-desc-list">
                    <li>本約定條款解釋、補充及適用均以中華民國法令為準據法。</li>
                    <li>因本約定條款所發生之訴訟，以台灣花蓮地方法院為第一審管轄法院。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shopping-go-on-blk">
        <a href="Register" class="btn-orange">同意</a>
        <a href="~/" class="btn-white">不同意</a>
    </div>
</div>